.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px black solid;
  width: 750px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  display: none;
  animation-name: animatetop;
  animation-duration: 1.5s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 300;
    opacity: 1;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.modal-header-title {
  font-size: 1.75em;
  border-bottom: 2px solid black;
  height: 50px;
}

.modal-body {
  padding: 10px;
  font-size: 1.1em;
  overflow: auto;
  height: 250px;
}
