.toolbar {
  padding: 10px 10px 10px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  position: sticky;
  top: 49px;
  background-color: rgb(255, 247, 232);
}

.toolbar-btn-group {
  flex: 2.5;
}

.toolbar-search {
  flex: 1.5;
  margin-left: 40px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 6px whitesmoke;
  background-color: #fdf0d5;
  font-size: 0.85rem;
}

.toolbar-search:focus {
  background-color: #fbf2e0;
  color: black;
  outline: none;
}

.toolbar-btn {
  padding: 10px;
  background-color: #fdf0d5;
  border: none;
  width: 125px;
  border: 2px solid #003049;
  margin: 0px 4px 0px 4px;
  font-weight: bold;
  border-radius: 10px;
}

.toolbar-btn-selected {
  border: 2px solid #fdf0d5;
  background-color: #003049;
  color: white;
}
