.toolbar {
  padding: 0 30px 0 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* position: sticky;
  top: 76px; */
}

.toolbar-btn-group {
  flex: 2.5;
}

.toolbar-search {
  flex: 1.5;
  margin-left: 40px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #003049;
  background-color: #fdf0d5;
}

.toolbar-search:focus {
  background-color: #669bbc;
  color: #fdf0d5;
  outline: none;
}

.toolbar-btn {
  padding: 10px;
  background-color: #fdf0d5;
  border: none;
  width: 125x;
  border: 4px solid #003049;
  margin: 0px 2px 0px 2px;
  font-weight: bold;
}

.toolbar-btn-selected {
  border: 4px solid #fdf0d5;
  background-color: #003049;
  color: white;
}
